<html>
    <body>
        <h2> HTML FORMS</h2>
        
        <form action="/submit" method="post">
            <label for="Science">Science:</label><br>
            <input type="text" id="Science" name="Science" value="0"><br><br>
            <label for="Math">Math:</label><br>
            <input type="text" id="Math" name="Math" value="0"><br><br>
            <label for="English">English:</label><br>
            <input type="text" id="English" name="English" value="0"><br><br>
            <label for="History">History:</label><br>
            <input type="text" id="History" name="History" value="0"><br><br>
            <label for="Geography">Geography:</label><br>
            <input type="text" id="Geography" name="Geography" value="0"><br><br>
            <input type="submit" value="Submit">
        </form>
        <p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>
    </body>
</html>